[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mirceavar
[access "refs/for/refs/*"]
	read = group user/mirceavar
	push = group user/mirceavar
	label-Code-Review = -2..+2 group user/mirceavar
	label-Verified = -1..+1 group user/mirceavar
	rebase = group user/mirceavar
	removeReviewer = group user/mirceavar
	submit = group user/mirceavar
[access "refs/heads/*"]
	read = group user/mirceavar
	create = group user/mirceavar
	push = +force group user/mirceavar
	pushMerge = group user/mirceavar
[access "refs/tags/*"]
	push = group user/mirceavar
	push = +force group user/mirceavar
